@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

:root {
  --orange-dark: #E66414;
  --orange-default: #FF924D;
  --orange-light: #F6C9B1;

  --teal-dark: #05454B;
  --teal-default: #00A8A8;
  --teal-light: #9AD3DA;

  --neutral-dark: #020000;
  --neutral-default: #FFFAF3;
  --neutral-light: #FFFFFF;
}

body {
  background-color: var(--neutral-light);
  color: var(--neutral-dark);
  font-family: 'Lexend Deca', serif;
  box-sizing: border-box;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.flex {
  display: flex;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.price-bar-group {
  display: flex;
  gap: 1rem;
  align-items: end;
  height: 400px;
  justify-content: end;
}

.price-bar-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.price-bar {
  --value: 1000;
  --maxValue: 2000;
  --percent: calc(var(--value) / var(--maxValue));
  height: calc(100% * var(--percent));
  width: 40px;
  background-color: var(--orange-dark);
  display: flex;
  align-items: end;
  justify-content: center;
  padding: 0 0.5rem;
  color: var(--neutral-light)
}

.accordion-toggle {
  display: flex;
  align-items: center;
}

.text-input {
  display: flex;
  flex-direction: column;
}